body{
	background-color:#EDF7F2;
}

#container
{
<<<<<<< HEAD
	margin: 0 16px;
	background: #fff;
=======
	margin: 0 20px;
>>>>>>> 0dcc8000a0df11331adb059237badd3d75d73db9
}

#header
{
	background: #4C1B1B;
	padding: 10px;
	border-radius:5px 5px 5px;
	height:100px;
}


a {
	text-decoration:none;
	color:black;
}

#header h1 { 
	margin: 0;
	color:white;
	text-align:center;
	margin-top:30px;
	font-family:Helvetica, Helv, swiss, sans-serif;
	font-size:40px;
}

#navigation
{
	float: left;
	width: 100%;
	background: #1CC0AA;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 40px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px #4C1B1B;
	box-shadow: 0px 0px 5px #4C1B1B;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	font-family:'Trebuchet MS', Geneva, sans-serif;
	
}

#edito h2
{
	color: #4C1B1B;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 43%;
	padding: 20px;
	margin: 22px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px #4C1B1B;
	box-shadow: 0px 0px 5px #4C1B1B;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.90;
	color:#4C1B1B;
	font-family:'Trebuchet MS', Geneva, sans-serif;
}

#news h3 {
	font-size:15px;
	}

#footer
{
	clear: both;
<<<<<<< HEAD
	background: #ccc;
	text-align: right;
	padding: 16px;
=======
	background: #4C1B1B;
	text-align: center;
	padding: 20px;
>>>>>>> 0dcc8000a0df11331adb059237badd3d75d73db9
	height: 1%;
	border-radius:5px 5px 5px;
	color:white;
}
